* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.div-empresas {
	width: 25vw;
	height: 100%;
	align-items: center;
	justify-items: center;
	background-color: #ccd9e1;
	overflow-y: hidden;
}

.div-sucursales {
	width: 75vw;
	height: 100%;
	align-items: center;
	justify-items: center;
	background-color: #f5efeb;
	overflow-y: hidden;
}
