* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.div-main {
	display: flex;
	flex-direction: row;
}

.div-empresas {
	width: 25vw;
	height: 100vh;
	align-items: center;
	justify-items: center;
	background-color: lightgrey;
}

.div-sucursales {
	width: 75vw;
	height: 100vh;
	align-items: center;
	justify-items: center;
	background-color: whitesmoke;
}

.fondoOscuro {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
