.div-card {
	transition: transform 0.3s ease;
}

.div-card :hover {
	transform: scale(1.05);
}

.card-main {
	width: 18rem;
}

.card-body {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.buttons {
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
}
