.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 8px;
	width: 40vw;
	height: 45vh;
	z-index: 9999;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 1rem;
	pointer-events: all;
}

.modal-header,
.modal-footer {
	border: none;
}

.modal-body {
	padding: 1.5rem;
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}
