.containerEmpresaSucursal {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 1rem;
}

.containerEmpresa {
	width: 25vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
}

.div-lista-empresas {
	background-color: #e7e6e6;
}
