.div-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.modal-header,
.modal-footer {
	border: none;
}

.modal-title {
	padding: 1rem;
}

.modal-body {
	padding: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-control {
	border: 0.1rem solic #ced4da;
	border-radius: 0.4rem;
	margin-top: 1rem;
}

.form-control:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
